Checks: >
  -*,
  bugprone-*
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -fuchsia-trailing-return,
  -readability-magic-numbers,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-braces-around-statements,
  -readability-redundant-access-specifiers,
  -readability-redundant-member-init,
  -readability-redundant-string-init,
  -readability-identifier-length

